* {
  font-size: 62.5%; /* 1rem == 10px */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(199, 247, 255);
  color: #000000;
  font-family: "Permanent Marker", cursive;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
}

.top-header {
  font-size: 5rem;
  width: 100%;
  text-align: center;
}

.task-container {
  width: 30%;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.task-enter {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#task {
  width: 65%;
  height: 100%;
  font-size: 2rem;
}

#enter-button {
  width: 30%;
  height: 100%;
  font-size: 2rem;
  outline: none;
}

.task-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

#task-items:first-child {
  margin-top: 2rem;
}

#line-items {
  width: 100%;
  margin-top: 0;
  list-style: none;
}

#task-line {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#task-complete {
  width: 50px;
  height: 50px;
}

#task-text {
  width: 70%;
  font-size: 2rem;
  margin-left: 3rem;
}

.strikethrough {
  text-decoration: line-through;
}

#task-delete {
  width: 7%;
  object-fit: contain;
}

@media only screen and (max-width: 768px) {
  .task-container {
    width: 95%;
  }
}
